@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@mixin gridify($col, $width, $gutter: 2) {
    @media only screen and (min-width: #{$width}#{"px"}){
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{(100 / $col) - $gutter}#{"%"};
            }
        }
    }
}
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 800); //creates .grid-2-800
@include gridify(3, 1024); //creates .grid-3-1024
/**
 * GENERAL
 */

body {
    transition: opacity .25s ease;
}



//**variables**//




$borderColor: lightblue;
$backgroundcolor: white;



.column {
    .picturebox1 {
        position: relative;
        border: 2px solid $borderColor;
    }
    .grid-5 {
        border: 2px solid $borderColor;
        border-top: none;
        & > * {
            width: 17%;
            text-align: center;
            &:not(:last-child) {
                border-right: 1px solid $borderColor;
            }
        }
    }
    .button {
        display: inline-block;
        width: 20%;
        height: 10%;
        padding: none;
        border: none;
        background-color: $backgroundcolor;
    }
    img {
        width: 100%;
    }
    .titleprice {
        position: relative;
        font-color: red;
    }
    .title {width:50%;
        position: absolute;
        left: 0;
    }
    .price {
        width: 15%;
        position: absolute;
        right: 0;
        text-align: center;
    }
}
